.Media{
  cursor:pointer;
  margin-right: 15px;
  display: inline-block;
  width: 260px;
  height: 160px;
  vertical-aling: top;
}
.Media-cover{
  cursor:pointer;
  margin-right: 15px;
  display: inline-block;
  width: 260px;
  vertical-aling: top;
}
.Media-img{
   width: 260px;
   height: 160px;
}
