.Media{
  cursor:pointer;
  margin-right: 15px;
  display: inline-block;
  width: 260px;
  height: 160px;
  vertical-aling: top;
}
.Media-cover{
  cursor:pointer;
  margin-right: 15px;
  display: inline-block;
  width: 260px;
  vertical-aling: top;
}
.Media-image{
   width: 260px;
   height: 160px;
}
.Media-title{
text-align: center;
}
.Media-autor{
  text-align: center;
  font: bold 12px/1.5 arial, helvetica, sans-serif;
}
